/* container */
.container{width: 1000px; margin: 0 auto; background: rgb(173, 166, 166);}

/* row */
.row{position: relative; margin: 0 20px;}

/* header */
#header{height: 100px; background: rgb(83, 71, 71);}

#header .header-data{
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
}
#header .header-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}
#header .header-id{
    width: 40px;
    height: 40px;
    top: 0px;
    border-radius: 20px;
    position: absolute; right: 0; bottom: 10px;
    background: linear-gradient(180deg, #7A4F4F 0%, rgba(197, 130, 130, 0) 100%), #C4C4C4;
    /* 맞추는 방법 */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* mediaquery */
@media (max-width:1020px){
    .container{width: 100%;}
}