*{margin: 0; padding: 0; font-family: 'Poor Story', cursive;
text-decoration: none; 
list-style: none;
}


.wrap{width: 100%; min-height: 700px;}

header{width: 1032px; height: 74px; margin: 0 auto;}

.utilMenu{width: 1032px; height: 40px; margin: 0 auto;}
.utilMenuLeft{float: left; width: 77%; height: 40px;}
.utilMenuLeft a{line-height: 50px; color: black; margin: 18px;}
.utilMenuRight{float: left; width: 23%; height: 40px;}
.utilMenuRight ul{}
.utilMenuRight ul li{width: 33.3%; float: left;}
.utilMenuRight ul li a{display: block; width: 100%; text-align: center; height: 40px; 
    line-height: 50px; color: black;}

.logo{float: left; width: 158px; height: 74px; 
line-height: 74px; text-align: center; font-size: 40px; font-weight: bold; color: black;}
.menu{float: left; width: 88px; height: 74px; text-align: center;}
.menu a{float: left; width: 88px; height: 74px; }
.menuIcon{width: 30px; height: 30px; padding: 22px 0;}

.findMusic{float: left; width: 610px; height: 74px; 
    text-align: center; }
.findInput{float: left; width: 550px; height: 50px; 
    margin: 12px 30px; border-radius: 100px; border: 1px solid black;}
.findInput input{width: 400px; height: 35px; margin: 7px; border: 0px;}

.findSpan{float: right; width: 50px; height: 50px; }
.findSpan a{float: left; width: 50px; height: 50px; }
.searchIcon{width: 30px; height: 30px; padding: 10px 23px 10px 0;}

.login{float: left; width: 88px; height: 74px;}
.login a{float: left; width: 88px; height: 74px; text-align: center; line-height: 74px; 
    color: black;}
.signIn{float: left; width: 88px; height: 74px; }
.signIn a{float: left; width: 88px; height: 74px; text-align: center; line-height: 74px; 
    color: black;}

nav{width: 1032px; height: 384px; margin: 0 auto; }
.current{height: 25px;}
.current a{padding: 0 16px 0 16px; height: 25px; display: block; color: black; font-size: 20px; font-weight: bold;}
.album{height: 354px;}
.album > div{width: 19.22%;
    text-align: center; margin: 4px;}

.albumList{float: left;
    position: relative; width: 155px; height: 155px;  }

.albumListTop img{width: 155px; height: 155px; }
.albumListBottom{position: absolute; width: 155px; height: 40px; 
    background: rgb(10, 10, 10); bottom: 0; line-height: 40px; text-align: center;
opacity: 0.7; left: 21.7px; }
.albumListBottom a{ color: white; }
.albumListBottom:hover{background: rgba(10, 10, 10, 0.7); width: 155px; height: 155px;
    line-height: 155px;
}

section{width: 1032px; height: 560px; margin: 0 auto;}

.chartList{width: 100%; height:472px;}

/* chartMenu */
.tab-menu{padding: 10px;}
.tab-menu .tab-btn ul{overflow: hidden;}
.tab-menu .tab-btn li{float: left; width: 50%; height:50px;text-align: center;}
.tab-menu .tab-btn li.active{border-bottom: 3px solid black;}
.tab-menu .tab-btn li a{display: block; color: black; padding: 10px; font-weight: bold; font-size: 20px;}
.tab-menu .tab-cont{ padding: 20px 300px; height: 506px;}

.songList{}
.songList li{width: 100%; height: 60px; border-bottom: 0.2px solid silver;}
.songList li:hover{
    font-size: 20px;
    font-weight: bold;
    }


.listNum{float: left; width: 60px; height: 60px; 
line-height: 60px; text-align: center;}    
.albumImg{float: left; width: 60px; height: 60px; background: red;}
.albumImg img{width: 100%; height: 60px;}
.title{float: left;width: 70%; height: 30px;}
.titleName{padding: 0 20px; width: 85%; height: 30px; line-height: 30px;}
.titleName a{color: black;}
.sing{float: left; width: 70%; height: 30px;}

/* slide */
.banner{width: 1032px; height: 200px; margin: 0 auto; text-align: center;  overflow: hidden;}
.slideList{position: relative; width: 1032px; height: 200px;}
.slideList .slideImg{position: relative;}
.slideList .slideImg h2{position: absolute; left:50%; top: 50%;
transform: translate(-50%, -50%); background: rgba(10, 10, 10, 0.7); color: white;
 height: 200px; width: 200px; line-height: 200px;}
.slideList .slideImg img{display: block;}
